[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
aiofiles = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
click = "*"
requests = "2.25.1"

[dev-packages]

[requires]
python_version = "3.9"
